
.bubble{
  text-align: center;
}
.container {
  text-align: center;
  margin-top: 50px;
}





.visualization-container {
  display: flex;
  margin-top: 20px;
  align-items: end;
}

.bar {
  
  height: auto;
  width: 40px;
  background-color:lightcoral;
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}